.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: salmon;
}

.todo-list {
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #efefef;
  width: 360px;
  box-shadow:
  /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */ 0 10px 0 -5px #eee,
    /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /* The third layer */ 0 20px 0 -10px #eee,
    /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
  padding: 30px;
}

.todo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.my-checkbox {
  width: 20px;
  height: auto;
}
input[type="checkbox"] {
  margin-right: 10px;
  height: 40px;
}

input[type="checkbox"]:focus {
  outline: 0;
}
